@font-face {
	font-family: "Six Caps";
	src: url("./fonts/SixCaps-Regular.ttf");
}

@font-face {
	font-family: "Josefin Slab";
	src: url("./fonts/JosefinSlab-VariableFont_wght.ttf");
}

:root {
	--primary-color: #ffffff;
	--secondary-color: #373538;
	--text-color: #da261b;
	--text-color2: #fbb277;
}

.nav-link {
	font-family: "Six Caps";
	font-size: 1.7em;
}

.lead {
	display: flex;
	margin: 50px;
}

.important_text {
	/* line-height: 1.16em; */
	/* font-size: 1.3em; */
	text-align: center;
	font-family: "Josefin Slab";
}

p {
	line-height: 2.16em;
	font-size: 1.3em;
	font-family: "Josefin Slab";
}

.centered {
	text-align: center;
}

h1 {
	font-size: 5em;
	text-align: center;
	font-family: "Six Caps";
}

.footerFont {
	font-family: "Six Caps";
	font-size: 1.7em;
}

.col-2 {
	display: flex;
	justify-content: center;
}

h2 {
	font-size: 4em;
	font-family: "Six Caps";
}

h3 {
	color: #99602e;
	font-family: "Six Caps";
	font-size: 3em;
}

hr {
	border: 1px solid #000;
	margin: 120px 0;
}

li {
	font-family: "Josefin Slab";
	line-height: 2.16em;
	font-size: 1.3em;
	list-style: none;
	/* line-height: 3.2em; */
}


